<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522619523695-re1pia3khalu61jnn00oqsgbc6679hmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522619523695-re1pia3khalu61jnn00oqsgbc6679hmq</string>
	<key>API_KEY</key>
	<string>AIzaSyCSbjNsaVhcp9fuJ13CqXJdpYtexVh6pB0</string>
	<key>GCM_SENDER_ID</key>
	<string>522619523695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.he</string>
	<key>PROJECT_ID</key>
	<string>login-408eb</string>
	<key>STORAGE_BUCKET</key>
	<string>login-408eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522619523695:ios:23f7d7b423f2998ceeb39a</string>
</dict>
</plist>